@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  max-height: calc(100vh - 5px);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
  background: #eee;
}

#app {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  /* max-width: 800px; */
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 0px);
  width: 100%;
  height: calc(100vh - 3px);
  background: #f2f2f2;
  overflow-y: auto;
  /* border: 2px solid red; */
}